Repository the-nerve/nerve.web.next: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write ., eslint --cache --fix

.lintstagedrc:

{
  "*.{js,ts,tsx,json,md,yaml,yml}": "prettier --write .",
  "*.{js,ts,tsx}": "eslint --cache --fix"
}

chore: add eslint fix to lint staged
  .prettierignore
  apps/cms/package.json
  packages/icons/package.json
  packages/kit/package.json
  packages/tailwind/package.json
  packages/tokens/package.json
  packages/ui/package.json
Due: prettier --write .

chore: install deps
  packages/eslint-config-nerve/package.json
  pnpm-lock.yaml
Due: prettier --write .

chore: fix lint errors
  apps/cms/package.json
  apps/web/.eslintignore
  apps/web/.eslintrc.js
  apps/web/src/pages/_app.tsx
  apps/web/src/pages/_document.tsx
  apps/web/src/pages/index.tsx
  packages/icons/package.json
  packages/kit/package.json
  packages/tailwind/package.json
  packages/tokens/package.json
  packages/ui/package.json
Due: prettier --write ., eslint --cache --fix

chore: setup eslint config
  apps/cms/.eslintignore
  apps/cms/.eslintrc.js
  packages/icons/.eslintignore
  packages/icons/.eslintrc.js
  packages/kit/.eslintignore
  packages/kit/.eslintrc.js
  packages/tailwind/.eslintignore
  packages/tailwind/.eslintrc.js
  packages/tokens/.eslintignore
  packages/tokens/.eslintrc.js
  packages/ui/.eslintignore
  packages/ui/.eslintrc.js
Due: prettier --write ., eslint --cache --fix

chore: no type checks yet
  packages/icons/package.json
  packages/kit/package.json
  packages/tailwind/package.json
  packages/tokens/package.json
  packages/ui/package.json
Due: prettier --write .

chore: init tailwind project
  packages/tailwind/package.json
  packages/tailwind/postcss.config.js
  packages/tailwind/tailwind.config.js
  packages/tokens/package.json
  packages/ui/package.json
  pnpm-lock.yaml
Due: prettier --write ., eslint --cache --fix

chore: tailwind setup
  apps/web/package.json
  apps/web/postcss.config.js
  apps/web/tailwind.config.js
  packages/tailwind/package.json
Due: prettier --write ., eslint --cache --fix

chore: config tailwind package
  packages/tailwind/css/tailwind.css
  packages/tailwind/package.json
  packages/tailwind/src/configs/index.ts
  packages/tailwind/src/configs/tailwind.ts
  packages/tailwind/src/index.ts
  packages/tailwind/tailwind.config.js
  packages/tailwind/tsconfig.json
  packages/tailwind/tsup.config.ts
  pnpm-lock.yaml
Due: prettier --write ., eslint --cache --fix

chore: remove postcss from tailwind package
  packages/tailwind/src/configs/tailwind.ts
Due: prettier --write ., eslint --cache --fix

docs: add css utility docs
  packages/tailwind/css/tailwind.css
Due: none

chore: tokens and tailwind
  packages/tailwind/css/app-base.css
  packages/tailwind/css/scrollbar.css
  packages/tokens/package.json
  packages/tokens/scripts/build-tokens.ts
  packages/tokens/scripts/config.json
  packages/tokens/src/animation.js
  packages/tokens/src/app.js
  packages/tokens/src/asset.js
  packages/tokens/src/border.js
  packages/tokens/src/breakpoint.js
  packages/tokens/src/color/brand.js
  packages/tokens/src/color/palette.js
  packages/tokens/src/color/prominence.js
  packages/tokens/src/color/surface.js
  packages/tokens/src/progress.js
  packages/tokens/src/shadow.js
  packages/tokens/src/size.js
  packages/tokens/src/spacing.js
  packages/tokens/src/typography.js
  packages/tokens/src/z-index.js
  packages/tokens/tsconfig.json
  pnpm-lock.yaml
Due: prettier --write ., eslint --cache --fix

chore: token imports
  packages/tailwind/src/configs/tailwind.ts
  packages/tokens/package.json
  packages/tokens/scripts/build-tokens.js
  packages/tokens/scripts/config.json
  packages/tokens/tsconfig.json
  pnpm-lock.yaml
Due: prettier --write ., eslint --cache --fix

chore: token build
  packages/tailwind/src/configs/tailwind.ts
  packages/tokens/README.md
  packages/tokens/package.json
  packages/tokens/scripts/generate-tokens.js
Due: prettier --write ., eslint --cache --fix

chore: tokens dist
  packages/tailwind/css/app-base.css
  packages/tokens/scripts/generate-tokens.js
Due: prettier --write ., eslint --cache --fix

chore: install hook forms
  apps/web/package.json
  pnpm-lock.yaml
Due: prettier --write .

chore: install zod
  apps/web/package.json
  pnpm-lock.yaml
Due: prettier --write .

chore: inter
  apps/web/src/pages/_app.tsx
  apps/web/src/styles/globals.css
Due: prettier --write ., eslint --cache --fix

chore: add SEO base components
  apps/web/src/features/seo/GlobalSeo/GlobalSeo.tsx
  apps/web/src/features/seo/PageSeo/PageSeo.tsx
  apps/web/src/features/seo/index.ts
Due: prettier --write ., eslint --cache --fix

chore: add link base
  apps/web/src/features/routing/Link/Link.tsx
  apps/web/src/features/routing/index.ts
Due: prettier --write ., eslint --cache --fix

chore: continue install and setup
  apps/web/package.json
  apps/web/src/gateways/HttpGateway.ts
  apps/web/src/pages/_app.tsx
  pnpm-lock.yaml
Due: prettier --write ., eslint --cache --fix

docs: add tokens docs
  packages/tokens/README.md
Due: prettier --write .

chore: setup env
  .tool-versions
  apps/cms/.eslintignore
  apps/cms/.eslintrc.js
  apps/cms/package.json
  package.json
  pnpm-lock.yaml
  scripts/setup.sh
Due: prettier --write ., eslint --cache --fix

chore: create sanity template project
  apps/admin/.eslintrc
  apps/admin/.gitignore
  apps/admin/README.md
  apps/admin/package.json
  apps/admin/plugins/.gitkeep
  apps/admin/plugins/sanity-plugin-tutorial/CustomDefaultLayout.tsx
  apps/admin/plugins/sanity-plugin-tutorial/GetStartedTutorial.tsx
  apps/admin/plugins/sanity-plugin-tutorial/index.ts
  apps/admin/sanity.cli.ts
  apps/admin/sanity.config.ts
  apps/admin/schemas/index.ts
  apps/admin/static/.gitkeep
  apps/admin/tsconfig.json
  pnpm-lock.yaml
Due: prettier --write ., eslint --cache --fix

chore: set monorepo name and version
  package.json
Due: prettier --write .

chore: nextjs setup
  apps/admin/.eslintrc
  apps/admin/.eslintrc.js
  apps/admin/.vscode/settings.json
  apps/admin/ambient/assets.d.ts
  apps/admin/next.config.js
  apps/admin/package.json
  apps/admin/sanity.config.ts
  apps/admin/src/app/cms/[...index]/Studio.tsx
  apps/admin/src/app/cms/[...index]/page.tsx
  apps/admin/src/app/layout.tsx
  apps/admin/src/app/page.tsx
  apps/admin/tsconfig.json
  apps/web/ambient/assets.d.ts
  apps/web/package.json
  apps/web/src/app/layout.tsx
  apps/web/src/app/page.tsx
  apps/web/src/pages/_app.tsx
  apps/web/src/pages/_document.tsx
  apps/web/src/pages/api/hello.ts
  apps/web/src/pages/index.tsx
  apps/web/tsconfig.json
  pnpm-lock.yaml
Due: prettier --write ., eslint --cache --fix

chore: add schemas
  apps/admin/schemas/defs/artist.ts
  apps/admin/schemas/defs/author.ts
  apps/admin/schemas/defs/configs/company.ts
  apps/admin/schemas/defs/global-components/health-and-safety.ts
  apps/admin/schemas/defs/organization.ts
  apps/admin/schemas/defs/performance.ts
  apps/admin/schemas/defs/post.ts
  apps/admin/schemas/defs/program.ts
  apps/admin/schemas/defs/season.ts
  apps/admin/schemas/defs/series.ts
  apps/admin/schemas/defs/show.ts
  apps/admin/schemas/defs/soundtrack.ts
  apps/admin/schemas/defs/sponsor.ts
  apps/admin/schemas/defs/supporter.ts
  apps/admin/schemas/defs/trailer.ts
  apps/admin/schemas/defs/venue.ts
  apps/admin/schemas/defs/web-app/web-footer-nav.ts
  apps/admin/schemas/defs/web-app/web-header-nav.ts
  apps/admin/schemas/defs/web-app/web-link-manifest.ts
  apps/admin/schemas/defs/web-app/web-page.ts
  apps/admin/schemas/defs/web-app/web-seo.ts
  apps/admin/schemas/defs/web-app/web-subscribe-cta.ts
Due: prettier --write ., eslint --cache --fix

chore: schemas
  apps/admin/.vscode/settings.json
  apps/admin/plugins/sanity-plugin-tutorial/CustomDefaultLayout.tsx
  apps/admin/plugins/sanity-plugin-tutorial/GetStartedTutorial.tsx
  apps/admin/plugins/sanity-plugin-tutorial/index.ts
  apps/admin/sanity.cli.ts
  apps/admin/sanity.config.ts
  apps/admin/schemas/index.ts
  apps/admin/src/app/layout.tsx
  apps/admin/src/app/page.tsx
  apps/web/src/app/layout.tsx
  apps/web/src/app/page.tsx
Due: prettier --write ., eslint --cache --fix

chore: vercel & env setup
  apps/admin/.gitignore
  apps/admin/sanity.config.ts
  apps/web/.gitignore
  turbo.json
Due: prettier --write ., eslint --cache --fix

chore: don't modularize imports
  apps/web/next.config.js
Due: prettier --write ., eslint --cache --fix

chore: upgrade tooling versions
  .tool-versions
  package.json
  scripts/setup.sh
Due: prettier --write .

chore: fix page eslint
  apps/admin/src/app/layout.tsx
  apps/admin/src/app/page.tsx
  apps/web/src/app/layout.tsx
  apps/web/src/app/page.tsx
Due: prettier --write ., eslint --cache --fix

chore: delete plugin
  apps/admin/plugins/.gitkeep
  apps/admin/plugins/sanity-plugin-tutorial/CustomDefaultLayout.tsx
  apps/admin/plugins/sanity-plugin-tutorial/GetStartedTutorial.tsx
  apps/admin/plugins/sanity-plugin-tutorial/index.ts
Due: prettier --write ., eslint --cache --fix

chore: fallback project
  apps/admin/sanity.cli.ts
  apps/admin/sanity.config.ts
Due: prettier --write ., eslint --cache --fix

chore: conitnue cleanup
  apps/admin/src/core/integrations/sanity/new-schemas/artist.ts
  apps/admin/src/core/integrations/sanity/new-schemas/author.ts
  apps/admin/src/core/integrations/sanity/new-schemas/index.ts
  apps/admin/src/core/integrations/sanity/new-schemas/organization.ts
  apps/admin/src/core/integrations/sanity/new-schemas/performance.ts
  apps/admin/src/core/integrations/sanity/new-schemas/post.ts
  apps/admin/src/core/integrations/sanity/new-schemas/program.ts
  apps/admin/src/core/integrations/sanity/new-schemas/season.ts
  apps/admin/src/core/integrations/sanity/new-schemas/series.ts
  apps/admin/src/core/integrations/sanity/new-schemas/show.ts
  apps/admin/src/core/integrations/sanity/new-schemas/singletons/company.ts
  apps/admin/src/core/integrations/sanity/new-schemas/soundtrack.ts
  apps/admin/src/core/integrations/sanity/new-schemas/sponsor.ts
  apps/admin/src/core/integrations/sanity/new-schemas/supporter.ts
  apps/admin/src/core/integrations/sanity/new-schemas/trailer.ts
  apps/admin/src/core/integrations/sanity/new-schemas/venue.ts
  apps/admin/src/core/integrations/sanity/src/lib/createDocument.ts
  apps/admin/src/core/integrations/sanity/src/lib/fieldset.ts
  apps/admin/src/core/integrations/sanity/src/schemas/_publicity.ts
  apps/admin/src/core/integrations/sanity/src/schemas/_soundtrack.ts
  apps/admin/src/core/integrations/sanity/src/schemas/_supportiveBusiness.ts
  apps/admin/src/core/integrations/sanity/src/schemas/_supportiveHuman.ts
  apps/admin/src/core/integrations/sanity/src/schemas/_venue.ts
  apps/admin/src/core/integrations/sanity/src/schemas/_video.ts
Due: prettier --write ., eslint --cache --fix

chore: update all schemas, udpate venues and supporters
  apps/admin/sanity.config.ts
  apps/admin/src/core/integrations/sanity/index.ts
  apps/admin/src/core/integrations/sanity/src/deskStructure.ts
  apps/admin/src/core/integrations/sanity/src/schema.ts
  apps/admin/src/core/integrations/sanity/src/schemas/_supportiveBusiness.ts
  apps/admin/src/core/integrations/sanity/src/schemas/_supportiveHuman.ts
  apps/admin/src/core/integrations/sanity/src/schemas/_venue.ts
  apps/admin/src/core/integrations/sanity/src/schemas/season.tsx
  apps/admin/src/core/integrations/sanity/src/schemas/series.tsx
  apps/admin/src/core/integrations/sanity/src/schemas/show/index.tsx
  apps/admin/src/core/integrations/sanity/src/schemas/show/objects/sponsors.ts
  apps/admin/src/core/integrations/sanity/src/schemas/supporter.tsx
  apps/admin/src/core/integrations/sanity/src/schemas/ticketProvider.tsx
  apps/admin/src/core/integrations/sanity/src/schemas/venue.tsx
Due: prettier --write ., eslint --cache --fix

chore: no default project ID for Sanity
  apps/admin/sanity.cli.ts
  apps/admin/sanity.config.ts
Due: prettier --write ., eslint --cache --fix

chore: no default project ID for Sanity
  apps/admin/sanity.config.ts
Due: prettier --write ., eslint --cache --fix
